@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(https://i.pinimg.com/564x/f1/30/02/f1300267a572d0f9269b3f443fe33c62.jpg);
  margin: 0;
}
nav {
  background-color: #ebeaea;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 25px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li .active {
  color: orangered;
}

.nav-left {
  flex: 50%;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
}

.nav-right a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

section {
  display: flex;
  background-color: white;
  width: 900px;
  height: 450px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 30px #666666;
  font-family: Segoe UI;
}
.left {
  flex: 70%;
  margin-right: 80px;
  margin-top: 40px;
}

.right {
  flex: 30%;
  height: 400px;
  background-color: white;
  margin: 20px auto;
  border-radius: 15px;
  justify-content: center;
  box-shadow: 0 0 10px black;
}

.right p {
  font-size: 20px;
}
